<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Master Phil</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.323198781293-la2bee3k2av1ra3q5cj49vegq4qubjcb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>AppleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>signinwithapple</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CleverTapAccountID</key>
	<string>RZZ-RWW-757Z</string>
	<key>CleverTapToken</key>
	<string>002-112</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to your Apple Music library to provide a better experience.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your bluetooth (for location)</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your bluetooth (for location)</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your calendar</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>YOUR TEXT</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your camera (For upload your photo and scan QR codes).</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use contacts</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use folder access</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We need to use Face ID for easy sign-in.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your location for location search and directions.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location permission even when the app is in the background</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses location services to enhance your experience by providing location-based features.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your microphone (for videos)</string>
	<key>NSMotionUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use you motion detector</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to save QR codes to your gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your photo gallery (For Upload your photo and to scan QR codes from gallery).</string>
	<key>NSSiriUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use SIRI</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use speech recognition</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to send you notifications to keep you updated.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAccessibilityTextLegibilityEnabled</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
